// Custom configuration for nf-core/rnaseq pipeline

// Process-specific resource requirements
process {
    withName:'FASTQC' {
        memory = 16.GB
        cpus = 2
    }
    
    withName:'STAR_ALIGN|HISAT2_ALIGN' {
        memory = 64.GB
        cpus = 8
    }
    
    withName:'SALMON_QUANT' {
        memory = 64.GB
        cpus = 8
    }
}

// Customize parameters
params {
    // Set to true to use GENCODE reference
    gencode = true
    
    // Skip processes you don't need
    skip_bigwig = false
    skip_stringtie = false
    
    // QC options
    skip_fastqc = false
    skip_multiqc = false
    
    // Set to your institution email for notifications
    email = 'jameslee@nygenome.org'
}

// Uncomment and modify to use singularity containers
// singularity {
//     enabled = true
//     autoMounts = true
// }

// Uncomment for execution on a cluster
// executor {
//     name = 'slurm'
//     queueSize = 20
// }
